/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.production
.env.backup
.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
_deploy_run.ps1
*.local.ps1
